 
//  GENERAL STYLES
// colors
$pink: #ff4b64; 
$darkBlue: #202437;


 %clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
    //@extend %clearfix;
  }
}
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  &:focus {
    outline: none !important;
  }
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none !important;
}

::selection {
  color: white;
  background: $pink;
}

.container {
  max-width: 1110px;
  margin: auto;
  // border: 1px solid grey;
}

// input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button{
    display: none;
}

.active {
  color: $pink;
}



// SECTION HEADER

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  z-index: 99;
  .container {
    position: relative;
    border: orange solid 1px;
  }
}
#header-logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  line-height: 40px;
  vertical-align: middle;
}

#header-links {
  vertical-align: middle;
  overflow: hidden;
  color: white;
  font-size: 16px;
  display: inline-block;
  transition: 1s ease;
  // height: 40px;
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      margin-left: 30px;
      line-height: 40px;
      &:hover {
        color: $pink;
      }
    }
  }
}

#header-button-menu {
  display: none;
  position: absolute;
  margin: auto;
  top:0;
  // bottom:0;
  left:0;
  right:0;
  color: white;
  background-color: transparent;
  border: none;
  // border: 1px solid green;
  font-size: 28px;
  width: 120px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;

  &:hover {
    color: $pink;
  }
}

#header-button-login {
  position: absolute;
  top: 0;
  right: 0;

  color: white;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  width: 120px;
  height: 40px;
  cursor: pointer;
  
  &:hover {
    color: $pink;
    border-color: $pink;
  }
}

@media only screen and (max-width: 900px) {
  #header-logo {
    margin-left: 15px;
  }

  #header-links {
    display: none;
    
    ul {
      li {
        display: block;
        margin-left: 15px;
      }
    }
  }
 
  #header-button-menu {
    display: block;
  }
  #header-button-login {
    right: 15px;
  }

  .header-links-responsive {
    display: block;
  }


}

// SECTION MAIN
#main {
  min-height: 650px;
  background-color: $darkBlue;
  background-image: url(../images/main-bg.jpg);
  background-size: cover;
  background-position: center;
 
  // border: 1px solid red;
  // margin-bottom: -27px;

.main-content {
  position: relative;
  min-height: 650px;
  // border: 1px solid red;
  color: white;
  h1 {
    font-size: 72px;
  
    height: 100px;
    // line-height: 100px;
    text-align: center;
    // width: 400px;
    position: absolute;
    margin: auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    // border: 1px solid red;
  }
  p {
    font-size: 30px;
    height: 40px;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 190px;
    bottom:0;
    left:0;
    right:0;
    // border: 1px solid red;
  }





}

}




#search {
  // min-height: 55px;
  // border: #ff4b64 1px solid;
  margin-top: -27px;
  font-size: 0;
  text-align: center;

  position: relative;
}

.input-standart {
  // border: none;
  border: 1px solid #e6e6e6;
  height: 55px;
  width: 335px;
  color: #818181;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 500;
  // line-height: 55px;
  &:nth-child(2) {
    margin-left: -1px;
  }

  &:nth-child(3) {
    width: 215px;
    margin-left: -1px;
  }
}



.input-button {
 border: none;
 background: $pink;
 height: 55px;
 width: 120px;
 color: white;
 font-size: 16px;
 font-weight: 500;
 cursor: pointer;
}
